<h1>Log in Usuario</h1>

<form class="post">
    <label> Usuario:</label>
    <input type="text" name="usuario" class="form-control" />
    <br />
    <label>Password: </label>
    <input type="text" name="password" class="form-control"/>
    <br />
    <button type="submit" class="btn btn-info">Log In</button>
</form>
<h1 style="color:red">@ViewData["MENSAJE"]</h1>